@import '../base/base';

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: $txt-main-font;
  font-size: $txt-floating-size;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 85%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1, h2, h3, h4 {
  font-family: $txt-headline-font;
  color: $col-accent-primary;
}
