@import "../base/base";

.sectionDescription {
  display: flex;
  align-items: center;
  margin: 120px 0 150px 0;
}

.sectionLatestProjects {
  display: flex;
  align-items: center;
}

.description {
  margin: auto;
  padding-right: 150px;
  text-align: left;

  h1 {
    font-size: 2.5em;
  }

  h2 {
    margin-top: 35px;
    font-weight: 300;
    line-height: 140%;
  }

  nav {
    display: block;
    margin-top: 40px;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    ul li {
      margin: 0 2.5%;
    }

    @include media-max-medium {

    }

  }
}

.portrait {
  margin: auto;
  max-width: 420px;
  min-width: 330px;

  img {
    width: 100%;
    margin-bottom: -75px;
    border-radius: 6px;
  }
}

figure.portrait {
  width: 100%;
  padding: 35px;
  margin-bottom: 50px;
  background-color: $col-accent-primary;
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .sectionDescription {
    flex-wrap: wrap-reverse;
  }

  .description {
    padding: 20px 0 0 0;

    h1 {
      text-align: center;
    }
  }
}

@include media-max-small {
  .portrait {
    min-width: 0;
  }

  figure.portrait {
    padding: 0;
  }
}
