@import "../base/base";


.container {
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

.introduction {
}

.portrait {
  max-width: 420px;
}

.portrait img {
  width: 100%;
  margin-bottom: -75px;
  border-radius: 6px;
}

figure.portrait {
  width: 100%;
  padding: 30px;
  margin-bottom: 50px;
  background-color: #121316;
  border-radius: 6px;
}
