@import "../base/base";

body {
  background-color: $col-white;
}

.content {
  min-height: calc(100% - 73px - 120px);

  @include media-min-small {
    min-height: calc(100% - 88px - 150px);
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}
