@import "../base/base";

.root {
}

.title {
  composes: responsiveTitle1 from './typography.module.scss';
}

.mainImage {
  margin-top: 50px;

  img {
    border-radius: 1%;
    //max-width: 1200px;
    max-height: 600px;
    height: auto;
    display: block;
    margin: auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;

  @include media-min-medium {
    grid-template-columns: 3fr 1fr;
  }
}

.mainContent {
}

.metaContent {
}

.publishedAt {
  composes: small from './typography.module.scss';
  margin: 1.5rem 0 3rem;
  color: $col-grey;
}

.categories {
  border-top: 1px solid $col-very-light-grey;
  margin: 2rem 0 3rem;

  ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  composes: base from './typography.module.scss';
  margin: 0.5rem 0 0;
}

.relatedProjects {
  border-top: 1px solid $col-very-light-grey;
  margin: 2rem 0 3rem;

  ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0.25rem 0;
  }
}

.relatedProjectsHeadline {
  composes: base from './typography.module.scss';
  margin: 0.5rem 0 0;
}
