@import "../base/base";

.root {
  margin: 2em 0 4em;

  h1 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 2rem 0;
  }
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;

  @include media-min-small {
    grid-template-columns: 1fr 1fr;
  }

  @include media-min-medium {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.browseMoreNav {
  margin-top: 1rem;
  float: right;
}
