@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.footer {

}

.footerWrapper {

  /*
  @media (--media-min-small) {
  }
 */
}

.siteInfo {
  margin: 0 15px 5px 0;
  text-align: right;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
}
