@import '../styles/mixins';

.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.title {
  composes: responsiveTitle1 from './typography.module.scss';
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: #eee;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  @include hover {
    .root:hover & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  p {
    margin: 0.5em 0;
  }

  strong {
    font-weight: 600;
  }
}
