@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import '../styles/mixins';

.root {
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.mainImage {

  img {
    border-radius: 1%;
    max-width: 1200px;
    height: auto;
    display: block;
    margin: auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;

  @include media-min-medium {
    grid-template-columns: 3fr 1fr;
  }
}

.mainContent {
  a {
    color: var(--color-accent);
  }

  a:hover {
    color: inherit;
  }
}

.metaContent {
}

.publishedAt {
  composes: small from './typography.module.scss';
  margin: 1.5rem 0 3rem;
  color: var(--color-gray);
}

.categories {
  border-top: 1px solid var(--color-very-light-gray);
  margin: 2rem 0 3rem;

  ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  composes: base from './typography.module.scss';
  margin: 0.5rem 0 0;
}

.relatedProjects {
  border-top: 1px solid var(--color-very-light-gray);
  margin: 2rem 0 3rem;

  ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0.25rem 0;
  }
}

.relatedProjectsHeadline {
  composes: base from './typography.module.scss';
  margin: 0.5rem 0 0;
}
